@import url('https://fonts.googleapis.com/css2?family=Domine&family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@500&family=Katibeh&family=KoHo&family=Roboto:wght@300&display=swap');

@font-face {
    font-family: "Sabado";
    font-style: normal;
    font-weight: normal;
    src: url("./fonts/Sabado/Sabado.woff") format('woff');
}
@font-face {
    font-family: "Sajola";
    font-style: normal;
    font-weight: normal;
    src: url("./fonts/Sajola/Sajola.woff") format('woff');
}

/* Global
===========================================================================*/
* {box-sizing: border-box;}


header {
    display: inline;
}
body {
    margin: 0;
    padding: 0;
    /*background-image: url("img/work.jpg");*/
}

h1, h2 {
    font-family: "Sabado";
    font-size: larger;
    font-weight: bolder;
    text-transform: uppercase;

}

h3 {
    font-family: Hind;
}

p {
    font-family: "Roboto";
    font-size: medium;
    margin: auto;
    text-align: justify;
    line-height: 15px;
}

li {
    font-family: "Roboto", Arial;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 100px;
}
button {
    padding: 9px 25px;
    background-color: rgba(113, 185, 201, 0.548);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all .3s ease 0s;
    display: inline-block;
    font-family: "KoHo", sans-serif;
    font-weight: 500;
    font-size: x-large;
    color:rgb(20, 143, 143);
    text-decoration: none;   
}

button:hover {
    background-color: rgba(113, 185, 201, 1);

}
/*  */

.front {
    z-index: 5;
}

.behind {
    z-index: 3;
}

.info {
    font-family: "Katibeh", Arial, Helvetica, sans-serif;
    padding: 5px;
    font-size: xx-large;
}
/* */

/* Header
===========================================================================*/



/* Navbar
===========================================================================*/
.logo {
    cursor: pointer;
    padding-left: 20px;
    font-size: xx-large;
    font-family: "Hind";
    text-decoration: none;
    color:rgb(255, 255, 255);
}

.nav__links {
    list-style: none;
    font-weight: bolder;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all .3s ease 0s;
    font-family: "KoHo", sans-serif;
    font-weight: 500;
    font-size: xx-large;
    color:rgb(20, 143, 143);
    text-decoration: none;
}

.nav__links li a:hover {
    color:bisque;
}

/* Sections
===========================================================================*/

.content {
    width: 850px;
    text-align: justify;
    align-content: center;
    margin: auto;
    min-height: 600px;
    background-color: cadetblue;
    position: relative;
    padding: 20px;
}

.block {
    margin-bottom: 100px;
}
/*
.about_section {
    background-image: url("img/work.jpg");
}
.resume_section {
    background-image: url("img/work.jpg");
}
.contact_section {
    background-image: url("img/contact.jpg");
}
*/

/* Contact
===========================================================================*/
.contact_button {
    padding-right: 20px;
}
.input-style {
    font-family: "Clear Sans";
    font-size: medium;
    font-weight: bold;
}

input[type=text], select, textarea {
    width: 100%;
    font-family: "Clear Sans";
    padding: 12px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    font-family: "Clear Sans";
    background-color: #000000;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: cadetblue;
    padding: 20px;
}

.icon_class {
  margin-right: 20px;
  float: right; 
  width: 40px; 
  height: 40px;
}