body {
    background-color: rgb(158, 212, 210);
    }

    .header {
        color: rgb(201, 62, 62);
        text-align: center;
        font-family: 'Trocchi';
        font-size: large;
    }
    .parag {
        color: rgb(13, 70, 117);
        text-align: center;
        font-family: 'Trebuchet MS';
        font-size: medium;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
/* style="color: indigo; font-family: Trocchi;"*/